# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS Files
.DS_Store
Thumbs.db

# Environment Variables
.env

# Logs
*.log